/* Body and general sections */
body {
  background: #082E6D; 
  font-family: "Noteworthy", "Comic Sans MS", sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
  color: #6CB1D3; 
  margin: 0;
  padding: 0;
}

/* Header / Navbar */
header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #215D8E;
  font-family: inherit;
  font-weight: bold;
  padding: 10px 20px;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: auto;
}

/* section */
.about-section {
  background-color: #083d7b; /* Dark blue like your screenshot */
  color: white;
  padding: 60px 0;
  text-align: center;
}

.about-title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align:center;
  color: #7ab3ff; 

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  max-width: 900px;
}

.about-photo {
  width: 300px;
  height: 400;
  border-radius: 10px;
}

.about-text {
  text-align: left;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Noteworthy Bold", cursive; 

.about-text h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

  /* Skills */
#skills {
  text-align: center;
  padding: 50px 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.skill-card {
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
/* links */
nav a {
  color: #6CB1D3; 
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  transition: color 0.2s;
}

nav a:hover {
  color: #082E6D; /* hover contrast */
}

/* Hero section */
.hero {
  padding: 150px 20px 100px 20px;
  min-height: 50vh;
  text-align: center;
}

.hero h1 {
  color: white; 
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  color: #6CB1D3;
}

/* Sections */
section {
  padding: 80px 20px;
}

/* Projects */
  
  #projects {
  text-align: center;
  padding: 50px 0;
}

.project-category {
  margin-bottom: 40px;
}

.project-category h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.project-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h4 {
  margin-bottom: 8px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #0077ff;
}

/* Contact  */
#contact ul {
  list-style: none;
  padding: 0;
}

#contact li {
  margin: 5px 0;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #215D8E;
  color: #6CB1D3;
}
