body {
  background: #082E6D;
  font-family: "Noteworthy", "Comic Sans MS", sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
  color: #6CB1D3;
  margin: 0;
  padding: 0;
}

header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #215D8E;
  padding: 10px 20px;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: auto;
}

/* About section */
.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.about-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.about-text {
  flex: 1; /* take remaining space */
  line-height: 1.6;
  font-size: 1rem;
}

#skills {
  text-align: center;
  padding: 50px 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.skill-card {
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav a {
  color: #6CB1D3;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 600;
  transition: color 0.2s;
}

nav a:hover {
  color: #082E6D;
}

.hero {
  padding: 150px 20px 100px 20px;
  min-height: 50vh;
  text-align: center;
}

.hero h1 {
  color: white;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  color: #6CB1D3;
}

section {
  padding: 80px 20px;
}

#projects {
  text-align: center;
  padding: 50px 0;
}

.project-categories {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.category-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #215D8E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 20px;
}

.project-card {
  background-color: #6CB1D3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h4 {
  margin-bottom: 8px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #082E6D;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #ffffff;
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.project-card a:hover {
  background-color: #e0e0e0;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact li {
  margin: 5px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #215D8E;
  color: #6CB1D3;
}
