/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background: #082E6D;  
  font-family: "Noteworthy", "Comic Sans MS", sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
  color: #6CB1D3;  
}

/* Header / Navbar */
header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;  
  font-family: inherit;
  font-weight: bold;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo {
  width: 30px;
  height: 30px;
}

/* Nav links */
nav a {
  color: #6CB1D3;  
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 600;
  font-family: inherit; /* 
  transition: color 0.2s;
}

nav a:hover {
  color: #ffffff;  
}

/* Hero section */
.hero {
  padding: 100px 20px;
  min-height: 100vh;
  color: #6CB1D3;  
}

.hero h1 {
  color: whit
