
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #215D8E
  font-family: "Noteworthy", "Comic Sans MS", sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

/* Header layout */
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 30px;
  height: 30px;
}

.hero {
  color: #6CB1D3;
}


.navbar {
  background-color: #215D8E;
  font-family: "Noteworthy", "Comic Sans MS", sans-serif;
  font-weight: bold;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Nav links */
nav a {
  color: #6CB1D3;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 600;
  transition: color 0.2s;
}

nav a:hover {
  color: #6CB1D3;
}

/* Sections */
section {
  padding: 100px 20px;
  min-height: 100vh;
}

section:nth-child(odd) {
  background: #1d2675;
}
