
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noteworthy", "Comic Sans MS", sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

/* Header layout */
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background: #007bff;
  position: fixed; /* keeps navbar on top when scrolling */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 30px;
  height: 30px;
}

/* Nav links */
nav a {
  color: blue;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 600;
  transition: color 0.2s;
}

nav a:hover {
  color: #ffea00;
}

/* Sections */
section {
  padding: 100px 20px;
  min-height: 100vh;
}

section:nth-child(odd) {
  background:#3e4ee5;
}
